@import 'lib/fonts.css';

:root {
 --background-color: #E4EFE5;
 --dark-background-color: #0F100F;
 --text-color: #575F54;
 --dark-text-color: #838A80;
 --heading-color: #235610;
 --accent-color: #52A06A;
 --accent-hover-color: #457F44;
 --light-accent-color: #A4D2B2;
 --danger-color: #F87171;
 
 /* Optionnel : autres utilitaires */
 --border-color: black;
 --card-background: #1b1e22;
 --shadow-color: rgba(0, 0, 0, 0.5);
}


* {
 margin: 0;
 padding: 0;
 outline: none;
 border: none;
 list-style: none;
 text-decoration: none;
 font-family: "Ubuntu", fantasy;
}

body {
 background: var(--background-color);
 color: var(--text-color);
}

h1,
h2,
h3,
h4 {
 color: var(--heading-color);
 margin: 16px 0;
 font-family: "Roboto Condensed", sans-serif;
}

h2 {
 text-align: center;
 font-size: 2rem;
 padding-bottom: 5px;
}

.logo-img {
 width: 40px;
 height: 40px;
}

.logo {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 15px 0;
 display: flex;
 position: fixed;
 top: 0;
 left: 50%;
 z-index: 99;
 translate: -50%;
 padding: 6px 10px;
 border-radius: 10px;
 background: #DAE2E34A;
 backdrop-filter: blur(20px);
 transition: width 0.4s ease-in-out;
 
 p {
  font-size: 15px;
  font-weight: 900;
  padding-bottom: 4px;
  color: var(--light-accent-color);
  text-align: center;
  text-shadow: 0.1px 0.1px 5px antiquewhite;
  font-family:"Boldonse";
 }
 
 .getStarted {
  margin-left: 50px;
  width: 80px;
  padding: 7px 12px;
  border-radius: 5px;
  background: linear-gradient(45deg, var(--accent-color), #0FD994);
  border: solid 2px var(--border-color);
  display: none;
 }
}

ul {
 color: var(--light-accent-color);
 
 li {
  list-style: circle black;
  margin: 5px 0 5px 60px;
  font-weight: 400;
 }
 
 li::before {
  content: "-";
  color: var(--accent-hover-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  scale: 1.2;
  margin-left: -1em;
 }
}


main {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 60px 0 50px 0;
 
 header,
 section {
  width: 90%;
  max-width: 900px;
  padding: 50px 0;
  min-width: 340px;
  box-sizing: border-box;
 }
 
 section {
  max-width: 700px;
  margin: 0px 0;
  line-height: 22px;
  
  h2 {
   border-bottom: 2px solid var(--danger-color);
   width: fit-content;
   margin: 25px auto;
   font-style: italic;
  }
  
  p {
   max-width: 600px;
   padding: 0 5%;
   font-size: 16px;
  }
 }
}

a.callToAction {
 background: var(--accent-color);
 font-weight: bold;
 padding: 14px;
 color: white;
 border-radius: 20px;
 transition: 0.4s ease-in-out;
 
 &:hover {
  background: var(--accent-hover-color);
  scale: 0.9;
  border: solid 3px var(--accent-color);
 }
}


header {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 50px;
 border-bottom-right-radius: 30px;
 box-shadow: 2px 6px 2px var(--accent-color),
  6px 8px 4px var(--light-accent-color);
 box-sizing: border-box;
 padding: 0 0 20px 0;
 
 h1 {
  text-align: center;
  font-size: 2.3rem;
  margin-top: 0;
  padding-top: 0;
  animation: 0.8s heading-anim;
 }
 
 p {
  max-width: 460px;
 }
 
 .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 30px;
  
  a {
   width: 130px;
   height: 40px;
   border-radius: 10px;
   border: solid 2px var(--border-color);
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--card-background);
  }
  
  a.callToAction {
   background: linear-gradient(45deg, var(--accent-color), #16520B);
   font-weight: bold;
   padding: 2px;
   border: solid 2px var(--accent-hover-color);
   box-shadow: -8px 20px 40px 5px var(--accent-color);
   animation:1s 0.8s btn-anim;
  }
 }
}


header .cards {
 width: 90%;
 padding: 30px;
 display: flex;
 justify-content: center;
 gap: 30px;
 flex-wrap: wrap;
 animation: 1.2s cards-anim;
 
 div {
  width: 200px;
  height: 210px;
  border-radius: 10px;
  border: solid 3px var(--border-color);
  padding: 10px;
  background: linear-gradient(45deg, transparent, #2bffd512);
  backdrop-filter: blur(50px);
  
  h2 {
   font-size: 20px;
   text-align: center;
   color: var(--danger-color);
  }
  
  p,
  li {
   font-size: 15px;
   color: var(--text-color);
  }
  
  ul {
   margin: 8px 0;
  }
  
  li {
   list-style: circle;
   margin: 3px 0 2px 20px;
   color: var(--light-accent-color);
  }
 }
}

.advantagesSection {
 background-image: radial-gradient(circle at 84% 82%, rgba(217, 217, 217,0.03) 0%, rgba(217, 217, 217,0.03) 21%,transparent 21%, transparent 100%),radial-gradient(circle at 75% 56%, rgba(3, 3, 3,0.03) 0%, rgba(3, 3, 3,0.03) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 74% 53%, rgba(153, 153, 153,0.03) 0%, rgba(153, 153, 153,0.03) 95%,transparent 95%, transparent 100%),radial-gradient(circle at 86% 43%, rgba(209, 209, 209,0.03) 0%, rgba(209, 209, 209,0.03) 83%,transparent 83%, transparent 100%),radial-gradient(circle at 64% 88%, rgba(192, 192, 192,0.03) 0%, rgba(192, 192, 192,0.03) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 73% 77%, rgba(205, 205, 205,0.03) 0%, rgba(205, 205, 205,0.03) 18%,transparent 18%, transparent 100%),radial-gradient(circle at 57% 51%, rgba(161, 161, 161,0.03) 0%, rgba(161, 161, 161,0.03) 64%,transparent 64%, transparent 100%),radial-gradient(circle at 40% 84%, rgba(115, 115, 115,0.03) 0%, rgba(115, 115, 115,0.03) 14%,transparent 14%, transparent 100%),linear-gradient(450deg, rgb(0,4,0),rgb(0,4,0));
 min-width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 position:relative;
 overflow:hidden;
 filter: blur(15px);
 transition:0.3s ease-in;
 .container {
  width: 70%;
  min-width: 300px;
  max-width: 700px;
  padding:0 3%;
  box-sizing: border-box;
  position:relative;
  h2 {
   color: transparent;
   -webkit-background-clip: text;
   background-image: linear-gradient(45deg, var(--accent-color), #9AF5D9);
   font-size: 16px;
   border-bottom: 0;
   width: fit-content;
   display: flex;
   align-items: center;
   font-style: normal;
   font-family:"Ubuntu", sans-serif;
   img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
   }
  }
 }
 
 h3 {
  color: var(--light-accent-color);
  font-weight:200;
  font-family:inter;
 }
 
 .card {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  margin: 10px 0;
  
  img {
   width: 30px;
  }
  p{
   display:flex;
   align-items:center;
  }
 }
  .card.red {
   border: solid 2px indianred;
   color: red;
  }
  .card.green{
    border: solid 2px var(--light-accent-color);
    color: var(--accent-color);
  }
  .shadow{
    width:200px;
    height:120px;
    border-radius:50%;
    position:absolute;
    z-index:5;
    left:50%;
    translate:-50%;
    filter: blur(60px);
    
  }
  .shadow.red{
   background:red;
   top:-20px;
  }
  .shadow.green{
   background:green;
   bottom:-10px;
  }
 }
 
 
 .pricing {
  margin: 60px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: solid 2px var(--danger-color);
  border-right: solid 2px var(--danger-color);
  
  p {
   text-align: center;
  }
  
  h2 {
   font-size: 2rem;
  }
  
  .cardPricing {
   width: 240px;
   padding: 25px 15px;
   border: solid 2px var(--border-color);
   border-radius: 10px;
   margin: 25px 0;
   
   span.price {
    font-size: 30px;
    color: var(--accent-color);
    font-weight: bold;
    font-style: italic;
   }
   
   span.text {
    color: var(--danger-color);
   }
   
   ul {
    margin-top: 20px;
    font-size: 14px;
   }
  }
 }
 
 
 .code {
  padding: 2px 3px;
  border: solid 2px var(--danger-color);
  border-radius: 8px;
  margin: 0 5px;
  font-size: 0.8rem;
  font-weight: bold;
 }
 
 .key,
 b {
  color: var(--accent-color);
  font-style: italic;
  font-weight: 600;
 }
 
 
 .demo {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 800px;
  
  .carrousel {
   width: 100%;
   max-width: 450px;
   border: solid 4px var(--border-color);
   border-radius: 10px;
   overflow: hidden;
   .container {
    width: 800%;
    height: 100%;
    display: flex;
    gap: 10px;
    transition: 0.35s ease-in-out;
    
    article {
     width: 12.5%;
     padding: 15px;
     
     .code {
      margin: 0 1px;
      border: solid 1px var(--danger-color);
     }
     
     p {
      font-size: 13px;
      line-height: 18px;
     }
     
     ul {
      font-size: 12px;
      
      li {
       margin: 10px 40px 0;
       line-height: 13px;
       color: var(--text-color);
      }
     }
    }
   }
  }
  
  h3 {
   text-align: center;
   margin: 4px;
  }
  
  .text {
   max-width: 500px;
  }
  
  .advice {
   width: 100%;
   max-width: 400px;
   aspect-ratio: 16/9;
   border: solid 8px black;
   margin: 30px;
   border-radius: 20px;
   padding: 10px;
   overflow-x: hidden;
   position: relative;
   background: linear-gradient(45deg, #121417, #A4D2B2);
   
   .container {
    width: 800%;
    height: 93%;
    display: flex;
    gap: 10px;
    transition: 0.4s ease-in;
    
    div {
     width: calc(100% / 8);
     height: 100%;
     overflow-y: auto;
     border-radius: 10px;
     
     h1 {
      color: var(--light-accent-color);
     }
     
     pre,
     code {
      border-radius: 10px;
     }
    }
   }
  }
  
  .advice::after {
   content: "";
   width: 100px;
   height: 8px;
   border-radius: 0 0 5px 5px;
   background: black;
   position: absolute;
   top: 0px;
   left: 50%;
   transform: translate(-50%);
  }
  
  .buttons {
   button {
    background: var(--light-accent-color);
    padding: 5px;
    color: var(--accent-color);
    border-radius: 40px;
    margin: 5px;
    transition: 0.4s ease-in-out;
   }
   
   button.active {
    background: var(--accent-color);
    color: white;
    scale: 1.1;
    font-weight: 550;
   }
   
   .home {
    padding: 10px;
    translate: 0 5%;
   }
  }
 }
 
 code.hljs {
  font-weight: 600;
  font-size: 12px;
 }
 
 @media (min-width: 800px) {
  .buttons button:hover {
   background: var(--accent-hover-color);
   scale: 0.9;
  }
}
 
 
 .oneline {
  border-radius: 10px;
  border: solid 3px var(--border-color);
  box-shadow: 2px 2px 2px var(--shadow-color);
  margin: 20px 0;
 }
 
 @keyframes heading-anim {
  0%{
   translate:90px;
   scale: 0.9;
   opacity:0.5;
  }
  100%{
   scale: 1;
  }
 }
 
  @keyframes cards-anim {
  0%,40%{
   translate:50px;
   scale: 0.7;
   opacity:0;
  }
 
  100%{
   scale: 1;
  }
 }
 
 @keyframes btn-anim {
  0%{
   scale:1;
   transition:0.5s ease-in-out;
  }
  10%{
   background: var(--accent-hover-color);
scale: 0.7;
border: solid 3px var(--accent-color);
  }
  
  60%{
   background:var(--heading-color);
  }
 } 
